:root {
  --fond-principal: #f5f4f0;
  --fond-secondaire: #ffffff;
  --texte-principal: #1a1a2e;
  --accent: #5088ff;
  --texte-discret: #d5d7da;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-weight: bold;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--fond-principal);
  color: var(--texte-principal);
  line-height: 1.6;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--texte-principal);
  border-bottom: 2px solid var(--accent);
  align-items: center;
  padding: 15px 40px;
  position: sticky;
  z-index: 100;
}

header h1 {
  color: var(--fond-principal);
  font-size: 1.3rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: var(--texte-discret);
}

nav a:hover {
  color: var(--accent);
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 40px;
  gap: 40px;
  background-color: var(--texte-principal);
  min-height: 100vh
}

#hero img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 4px solid var(--accent);
  object-fit: cover;
}

#hero h2 {
  color: var(--accent);
  font-size: 2rem;
  margin-bottom: 15px;
}

#hero p {
  font-size: 1.1rem;
  color: var(--texte-discret);
}

.hero-texte {
  max-width: 550px;
}

/* Sections */

section {
  padding: 60px 40px;
  text-align: center;
}

section h2 {
  display: inline-block;
  color: var(--texte-principal);
  font-size: 2rem;
  margin-bottom: 40px;
  border-bottom: 2px solid var(--accent);
}

#skills {
  background-color: var(--fond-principal);
}

.skills-container {
  display: flex;
  gap: 30px;

}

.skill-card {
  flex: 1;
  background-color: var(--fond-secondaire);
  border: 1px solid var(--texte-discret);
  border-radius: 10px;
  padding: 25px;
  text-align: center;
}

.skill-card h3 {
  display: inline-block;
  color: var(--texte-principal);
  margin-bottom: 15px;
  font-size: 1.3rem;
  border-bottom: 2px solid var(--accent);
}

#skills ul {
  list-style: none;
}

.skill-card li {
  padding: 6px 0;
  border-bottom: 1px solid #f0f0f0;
}

/* Projets */

#projects {
  background-color: var(--fond-secondaire);
}

.projects-container {
  display: flex;
  gap: 30px;
}

.project-card {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--fond-principal);
  border: 1px solid var(--texte-discret);
  border-radius: 10px;
  padding: 25px;
  text-align: center;
}

.project-card h3 {
  color: var(--texte-principal);
  margin-bottom: 12px;
  font-size: 1.2rem;
}

.project-card p {
  color: var(--texte-principal);
  margin-bottom: 16px;
}

.project-card a {
  align-self: center;
  margin-top: auto;
  background-color: var(--accent);
  color: #fff;
  padding: 8px 50px;
  border-radius: 20px;
}

.project-card a:hover {
  background-color: var(--texte-principal);
}

/* A propos */

#about {
  background-color: var(--fond-principal);
}

#about p {
  font-size: 1.1rem;
  max-width: 900px;
  background-color: var(--fond-secondaire);
  border: 1px solid var(--texte-discret);
  border-radius: 10px;
  padding: 40px 30px;
  margin: auto;
}

#contact {
  background-color: var(--fond-secondaire);
}

#contact p {
  text-align: center;
  margin-bottom: 15px;
  color: var(--texte-principal);
}

#contact ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}

#contact a {
  color: var(--texte-principal);
  font-size: 1rem;
}

#contact a:hover {
  color: var(--accent);
}

footer {
  text-align: center;
  padding: 20px;
  background-color: var(--texte-principal);
  color: var(--texte-discret);
  font-size: 0.9rem;
}